<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <link rel="stylesheet" href="" type="text/css">
</head>

<body>
    <form action="/product" method="POST">
        <div>
            <h1>Create Product</h1><br>
            <input type="text" name="merk" placeholder="Merk Name.."><br>
            <input type="text" name="size" placeholder="Size.."><br>
            <input type="number" name="price" placeholder="Price.."><br>
            <input type="text" name="type" placeholder="Type.."><br>
            <input type="text" src="" name="image" placeholder="Image.."><br>
        </div>
        <input type="submit" value="submit">
    </form>

</body>

</html>