<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VLIV PROJECT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/register.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>
<style>
    html {
        font-family: "icomoon";
    }

    @font-face {
        font-family: "icomoon";
        src: url('../font/icomoon.woff');
    }

    .nav-link {
        /* border: 1px solid; */
        margin-left: 15px;
        margin-right: 15px;

    }

    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .a {
        transition: .3s all ease !important;
        ;
    }

    a:hover {
        color: #fff !important;
        background-color: #000 !important;
        transition: .3s all ease !important;
    }

    .item:hover {
        color: #fff !important;
        background-color: #333 !important;
        transition: .3s all ease !important;
    }

    /* #f8f9fa */
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #fff !important;">
        <a class="navbar-brand" href="#"><img src="/images/logo.jpg" width="200px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SHOP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CATALOGUE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NEW ARRIVALS</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." style="height:38px">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                    style="border: 1px solid #ee4266;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                    style="border: 1px solid #ee4266;color: #ee4266;">Search</button> -->
            </form>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color: #000;">
                    account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class=" dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#">Sign Up</a>

                    <a class="dropdown-item" data-toggle="modal" data-target="#Modal" href="#">Sign In</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">About Us</a>
                </div>
            </div>
        </div>
    </nav>

    <!--banner-->
    <div style="background-color: #f8f9fa;">
        <div class="detail-1 " style="width: 85%;margin:0 auto;display: flex;height: 650px;">

            <div class="detail-left" style="width: 50%;;margin: 0 auto;">
                <div style="width: 100%;height:650px;position: relative;overflow: hidden;">
                    <img src="/images/model_5.png"
                        style="width: 500px; position: absolute;left:0;right:0;bottom: -220px;margin:auto">
                </div>
            </div>
            <div class="detail-right" style="width: 50%;margin: 0 auto;">
                <div style="width: 100%;margin: 0 auto; text-align: center;padding-top: 250px;">
                    <p>#NEW SUMMER COLLECTION 2020</p>
                    <h1 style="font-size: 60px;font-weight: 700;">ARRIVALS SALES</h1><br><br>
                    <a class="item" link href="http://localhost:4000/"
                        style="width: 100%;background-color:#000;text-align: center; color: #fff; padding: 10px;text-decoration: none;">
                        SHOP NOW
                    </a>
                </div>
            </div>

        </div>
    </div>



    <div class="site-sectiont" style="margin-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div
                        style="padding-left: 15px; border-left:5px solid #ee4266;;background-color: #fff;padding-top: 0px;padding-bottom: 0px;">
                        <h2><span class="d-block">DISCOVER</span> THE COLLECTION</h2>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <section style="margin-top:30px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8" style="padding-right: 15px;">
                    <div
                        style="width: 100%;height: 760px; position: relative;overflow: hidden;background-color: #f8f9fa;">
                        <a href="#" class="product-category" style="position: absolute;
                        display: inline-block;
                        padding: 10px 30px;
                        background: #fff;
                        color: #000;
                        z-index: 8;
                        top: 50%;
                        left: 35%;
                        font-size: 20px;
                        text-decoration: none;">Women <span style="font-size: 10px;">25 items</span></a>
                        <img src="/images/model_3.png" style="width: 600px;margin: auto; ">
                    </div>

                </div>

                <div class="col-md-4 col-lg-4" style="padding-left: 15px;">
                    <div style="width: 100%;height: 250px;">
                        <div class="row">
                            <div class="col-md-12 col-lg-12" style="padding-bottom: 10px;">
                                <div
                                    style="width: 100%;height: 370px;background-color: #f8f9fa; position: relative;overflow: hidden;">
                                    <a href="#" class="product-category" style="position: absolute;
                        display: inline-block;
                        padding: 10px 30px;
                        background: #fff;
                        color: #000;
                        z-index: 8;
                        top: 50%;
                        left: 35%;
                        font-size: 20px;
                        text-decoration: none;">Men <span style="font-size: 10px;">25 items</span></a>
                                    <img src="/images/model_2.png"
                                        style=" position: absolute;left:0;right:0;bottom: -370px;margin:auto;width: 420px;">
                                </div>

                            </div>
                            <div class="col-md-12 col-lg-12" style="padding-top: 10px;">
                                <div style="width: 100%;height: 370px;background-color: #f8f9fa;">
                                    <a href="#" class="product-category" style="position: absolute;
                                    display: inline-block;
                                    padding: 10px 30px;
                                    background: #fff;
                                    color: #000;
                                    z-index: 8;
                                    top: 50%;
                                    left: 30%;
                                    font-size: 20px;
                                    text-decoration: none;">Shoes <span style="font-size: 10px;">25 items</span></a>
                                    <img src="/images/hero_1.png"
                                        style=" position: absolute;left:0;right:0;bottom: +100px;margin:auto;width: 300px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="site-sectiont" style="margin-top: 35px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div
                        style="padding-left: 15px; border-left:5px solid #ee4266;;background-color: #fff;padding-top: 0px;padding-bottom: 0px;">
                        <h2>
                            <The class="d-block">POPULAR PRODUCT
                        </h2>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <section style="margin-top:30px;margin-bottom: 50px;">
        <div class="container">
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4 col-lg-4">
                    <div class="card" style="width: 100%;border: 0; ">
                        <img src="https://via.placeholder.com/200" class="card-img-top" alt="...">
                        <div class="card-body" style="padding-left: 0;">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text" style="font-size: 15px;">Some quick example text
                            </p>


                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="card" style="width: 100%; border: 0;overflow: hidden;">
                        <img src="/images/model_7.png" class="card-img-top" alt="..."
                            style="background-size: inherit;height: 350px; background-color: #f8f9fa;">
                        <div class="card-body" style="padding-left: 0;">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text" style="font-size: 15px;">Some quick example text .</p>


                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="card" style="width: 100%;border: 0px !important;">
                        <img src="/images/prod_2.png" class="card-img-top" alt="..."
                            style="width: 100%;background-color: #f8f9fa; height: 350px;">
                        <div class="card-body" style="padding-left: 0;">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text" style="font-size: 15px;">Some quick example text </p>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="align-items: center !important;border-bottom:0 ;">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="text-align: center !important;">
                        REGISTRATION</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <p style="padding-left: 15px;">Have an account?<span><a href="#"> Sign In</a></span>
                </p>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Nama Lengkap</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label>password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 10px;">We may use
                                information you provide us in
                                order to show you targeted ads as described in our <a href="#">Privacy
                                    Policy.</a> </label>
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>


                    <!-- <div id="login-box">
                        <form class="registrasi-1" action="/user/register" method="POST" style="margin-top: 0px;">
                            <div class="registrasi" style="border: 1px solid;">
                                <h1>REGISTRATION</h1>
                                <input type="text" placeholder="Nama Lengkap" name="username">
                                <input type="text" placeholder="Email" name="email">
                                <input type="password" placeholder="Password" name="password">
                                <input type="submit" value="register"><br>
                                <span class="signwith">Register With :</span><br>
                                <button class="sosial facebook">
                                    Register with Facebook
                                </button>
                                <button class="sosial google">
                                    Register with Google+
                                </button><br>
                                <p style="font-size: 15px;">Dengan mendaftar, saya menyetujui
                                    Syarat dan Ketentuan serta Kebijakan Privasi.</p>
                            </div>

                        </form>
                    </div> -->
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="align-items: center !important;border-bottom:0 ;">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="text-align: center !important;">
                        Sign In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Nama Lengkap</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>

                        <div class="form-group">
                            <label>password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <a href="#" style="margin-left: 300px;font-size: 15px;">Forgot The Password?</a><br>

                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>


                    <!-- <div id="login-box">
                        <form class="registrasi-1" action="/user/register" method="POST" style="margin-top: 0px;">
                            <div class="registrasi" style="border: 1px solid;">
                                <h1>REGISTRATION</h1>
                                <input type="text" placeholder="Nama Lengkap" name="username">
                                <input type="text" placeholder="Email" name="email">
                                <input type="password" placeholder="Password" name="password">
                                <input type="submit" value="register"><br>
                                <span class="signwith">Register With :</span><br>
                                <button class="sosial facebook">
                                    Register with Facebook
                                </button>
                                <button class="sosial google">
                                    Register with Google+
                                </button><br>
                                <p style="font-size: 15px;">Dengan mendaftar, saya menyetujui
                                    Syarat dan Ketentuan serta Kebijakan Privasi.</p>
                            </div>

                        </form>
                    </div> -->
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>

    <footer class="site-footer custom-border-top" style="margin-top: 15px;border-top: 1px solid #ee4266;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <h3 class="footer-heading mb-4" style="margin-top: 10px;">Promo</h3>
                    <a href="#" class="block-6">
                        <img src="/images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                        <h3 class="font-weight-light  mb-0">Finding Your Perfect Shirts This Summer</h3>
                        <p>Promo from July 15 &mdash; 25, 2020</p>
                    </a>
                </div>
                <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="footer-heading mb-4" style="margin-top: 10px;">Quick Links</h3>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="#">Sell online</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Shopping cart</a></li>
                                <li><a href="#">Store builder</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="#">Mobile commerce</a></li>
                                <li><a href="#">Dropshipping</a></li>
                                <li><a href="#">Website development</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="#">Point of sale</a></li>
                                <li><a href="#">Hardware</a></li>
                                <li><a href="#">Software</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4" style="margin-top: 10px;">Contact Info</h3>
                        <ul class="list-unstyled">
                            <li class="address">09 Tembalang Street, Semarang, Jawa Tengah </li>
                            <li class="phone"><a href="tel://23923929210">+62 822 2358 1775</a></li>
                            <li class="email">vlivapparel@gmail.com</li>
                        </ul>
                    </div>

                    <div class="block-7">
                        <form action="#" method="post">
                            <label for="email_subscribe" class="footer-heading">Subscribe</label>
                            <div class="form-group">
                                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                                <input type="submit" class="btn btn-sm btn-primary" value="Send">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="container-fluid" style="background-color: #aaa; width: 100%;">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <!--  -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template
                                is made with <i class=" icon-heart" aria-hidden="true"></i> by <a href="#"
                                    target="_blank" class="text-primary">VLIV PROJECT</a>
                                <!-- footer copyright -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
        </script>
</body>

</html>